<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>One Page Wonder - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/one-page-wonder.min.css" rel="stylesheet">

</head>

<body>

  <header class="masthead">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Welcome To Better LMS</h1>
        <h2 class="masthead-subheading mb-0">Way Better Than That Old LMS</h2>
        <%= image_tag "school.png" %>    
  </header>

  <section>
  <br>
    <%= image_tag("creators.jpg", class: "img-rounded-circle") %>
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Who created it?</h2>
            <p>Better LMS was created by Katherine Hinkle and Christie Finnie as a coding assignment.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
          <%= image_tag("students.jpg", class: "img-rounded-circle") %>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">How is it better?</h2>
            <p>It is better because really anything was better than old LMS. The old LMS was a pain in the neck according to an unamed proffesor. Teachers can easily create students, apply those students to a course, make assignments, and grade them. Students can also use this page to view their accounts.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>